/* Regola generale
*******/
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

/* Palette colori Figma
****************/
:root 
{
--Body: #FFFFFF;
--Header: #FFFFFF;
--FDivColor : #000000;
--SDivColor : rgb(0, 134, 255);
--Footer:rgb(136, 1, 254);
--SDColors:rgb(171, 207, 231);
}

/* Common Utilities
************/

body {
    width: 1000px;
    background-color: var(--Body);
    margin: auto; 
    font-family: 'Montserrat', sans-serif;
}

.Container_Header,
.First_Div,
.Second_Div,
.Container_Footer 
{
    width: 100%;
    margin: auto;
    margin-bottom: 15px;
}

/* Header
***********/

.Container_Header {
    position: relative;
    background-color: var(--Header);
    height: 150px;
    margin-top: 10px;
}

.Logo {
    border-right: 1px solid rgba(211, 211, 211, 0.5);
    position: absolute;
    float: left;
    width: 150px;
    margin-left: 5px;
    padding-right: 1rem;
    top: 25px;
}

.objects {
    position: absolute;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    bottom: 15px;
}

.btn {
    font-size:15px;
    text-transform: uppercase;
    color: rgba(128, 128, 128, 0.5);
    padding: 5px;
    background-color: var(--Body);
    border: 0px solid var(--Body);
}

/* Zona del Main
***********/

/* Prima MacroArea */

.First_Div {
    position: relative; 
    background-color: var(--FDivColor);
    height: 450px;
    border-radius: 15px;
}

.First_Div img {  
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
    border-radius: 15px;
}

.Banner_Cont {
    position: absolute;
    left: 5%;
    top: 65%;
    color: #FFFFFF;
    width: 500px;
    height: max-content;
}

.Banner_Cont h2 {
    font-weight: 900;
}

/* Seconda MacroArea */

.Second_Div {
    position: relative; 
    background-color: var(--Body);
    height: 700px;
    margin-bottom: 15px;
}

/* Header del secondo Div */

.SD_Header {
    width: 100%; 
    background-color: var(--Body);
    position: absolute;
    top: 0;
    height: 100px;
    margin: auto;

}

.SD_item {
    position: absolute;
    top: 15%;
    width: 300px;
    height: 100px;
}

/* Font per titolo all'interno del second div item */

.SD_item h1 {
    font-family: 'Shippori Antique', sans-serif;
}

/* Classi della seconda Macroarea 
********/

.row {
    width: 100%;
    height: 550px;
    position: absolute;
    bottom:3.5%; 
}

/* Aree dell'aside */

.Small_Item { 
    position: relative;
    float:left;
    height: 100%;
    width: 20%;
    background-color: var(--Body);
}

.Object_1 {
    position: absolute;
    border-radius: 15px;
    background-color: #000000;
    width:100%;
    height: 200px;
    top: 0;
    left: 0;
}

.Object_1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
    border-radius: 15px;
}


.Text-p {
    font-size: small; 
    margin-top: 5px;
}

/* */

.Medium_Item {
    float:left;
    height: 100%;
    width: 57%;
    margin-left: 1.5%;
    margin-right: 1.5%;
    background-color: var(--SDColors);
}

.clearfix::after{
    content: "";
    clear: both;
    display: table;  
}

/* Footer 
*************/

.Container_Footer {
    position: relative; 
    background-color: var(--Footer);
    height: 100px;
}
